In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
import numpy as np

from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.impute import KNNImputer

from sklearn.decomposition import PCA

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Employee_Attrition.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.920786,Yes,Travel_Rarely,990.110009,Sales,1.016716,1.770313,Life Sciences,1.033298,1.054148,...,1.012832,95.612654,0.000000,8.063833,0.000000,1.052104,5.795945,3.993896,0.000000,4.594972
1,51.589037,No,Travel_Frequently,276.776030,Research & Development,NaN,1.035333,Life Sciences,0.944859,2.107031,...,4.312008,85.370868,1.104642,8.965059,3.264952,2.526470,10.070232,7.937505,1.032295,5.901207
2,33.131540,Yes,Travel_Rarely,1204.158501,Research & Development,2.198662,2.118801,Other,0.810809,4.008125,...,2.332558,76.248084,0.000000,8.427238,3.004521,2.924784,0.000000,0.000000,0.000000,0.000000
3,34.707073,No,Travel_Frequently,1352.752432,Sales,2.937851,3.670674,Life Sciences,0.822976,4.587269,...,3.029591,75.888697,0.000000,7.662606,2.856001,3.117053,8.435324,5.563667,2.845429,0.000000
4,24.790188,No,Travel_Rarely,485.053333,Research & Development,1.988953,1.120496,Medical,NaN,7.228740,...,NaN,72.670937,0.953012,6.241733,2.814719,3.112317,2.040124,1.970786,2.495949,2.219353

In [4]:
df.shape

(1470, 35)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1323 non-null   float64
 1   Attrition                 1323 non-null   object
 2   BusinessTravel            1323 non-null   object
 3   DailyRate                 1323 non-null   float64
 4   Department                1323 non-null   object
 5   DistanceFromHome          1323 non-null   float64
 6   Education                 1323 non-null   float64
 7   EducationField            1323 non-null   object
 8   EmployeeCount             1323 non-null   float64
 9   EmployeeNumber            1323 non-null   float64
 10  EnvironmentSatisfaction   1323 non-null   float64
 11  Gender                    1323 non-null   object
 12  HourlyRate                1323 non-null   float64
 13  JobInvolvement            1323 non-null   float64
 14  JobLevel                  1323 non-null   float64
 15  JobRole                   1323 non-null   object
 16  JobSatisfaction           1323 non-null   float64
 17  MaritalStatus             1323 non-null   object
 18  MonthlyIncome             1323 non-null   float64
 19  MonthlyRate               1323 non-null   float64
 20  NumCompaniesWorked        1323 non-null   float64
 21  Over18                    1323 non-null   object
 22  OverTime                  1323 non-null   object
 23  PercentSalaryHike         1323 non-null   float64
 24  PerformanceRating         1323 non-null   float64
 25  RelationshipSatisfaction  1323 non-null   float64
 26  StandardHours             1323 non-null   float64
 27  StockOptionLevel          1323 non-null   float64
 28  TotalWorkingYears         1323 non-null   float64
 29  TrainingTimesLastYear     1323 non-null   float64
 30  WorkLifeBalance           1323 non-null   float64
 31  YearsAtCompany            1323 non-null   float64
 32  YearsInCurrentRole        1323 non-null   float64
 33  YearsSinceLastPromotion   1323 non-null   float64
 34  YearsWithCurrManager      1323 non-null   float64
dtypes: float64(26), object(9)
memory usage: 402.1+ KB